[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "*"
pygame = "*"
pyqt6 = "*"
pyqt6-tools = "*"
auto-py-to-exe = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.9"
